<div class="card">
  <div class="card-header">Usage</div>
  <div class="card-block">
    <div class="row" *ngFor="let value of table">
      <div class="col-md-3"><b>{{value.name}}:</b></div>
      <div class="col-md-9">
        <span *ngIf="!value.isBar">{{value.value}}</span>
        <div class="progress" *ngIf="value.isBar">
          <div
            aria-valuemax="100"
            aria-valuemin="0"
            class="progress-bar progress-bar-striped"
            role="progressbar"
            [ngStyle]="{ 'width.%': value.percentage }"
          >
            <span>{{ value.value }}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
