<app-sidebar>
  <div *ngIf="robotManager.error" class="alert alert-danger" role="alert">
    {{ robotManager.error }}
  </div>

  <div id="loading" *ngIf="!robotManager.connected && !robotManager.error">
    <div class="spinner"></div>
    <p>Connecting to robot...</p>
  </div>

  <div class="row" id="debug" *ngIf="robotManager.connected">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">Debugging</div>
        <div class="card-block">
          <table class="table">
            <thead class="thead-dark">
              <tr>
                <th scope="col">Key</th>
                <th scope="col">Value</th>
                <th scope="col">Type</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let key of robotManager.networkTables.table">
                <td>{{ key.key }}</td>
                <td>{{ key.value }}</td>
                <td>{{ key.valueType }}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="card-footer text-muted">
          <form [formGroup]="insertForm" (ngSubmit)="onInsert()">
            <div class="row">
              <div class="col-sm-3" id="keyField">
                <input id="name" placeholder="Key..." formControlName="key" class="form-control" [ngClass]="{ 'is-invalid': insertSubmitted && insertForm.controls['key'].errors }" />
              </div>
              <div class="col-sm-7" id="valueField">
                <input id="value" placeholder="Value..." formControlName="value" class="form-control" [ngClass]="{ 'is-invalid': insertSubmitted && insertForm.controls['value'].errors }" />
              </div>
              <div class="col-sm-2" id="sendField">
                <button [disabled]="insertLoading" class="btn btn-primary">Insert</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</app-sidebar>
