<app-sidebar>
  <div *ngIf="robotManager.error" class="alert alert-danger" role="alert">
    {{ robotManager.error }}
  </div>
  <div class="row" id="home">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">Live Feed</div>
        <div class="card-block">CAMERA HERE</div>
        <div class="card-footer text-muted">
          <b>FPS: </b>30 <b>Resolution: </b> 600x300
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="row">
        <div class="col-md-6 col-sm-12">
          <div class="card">
            <div class="card-header">Pinned Variables</div>
            <div class="card-block">VARS HERE</div>
          </div>
        </div>
        <div class="col-md-6 col-sm-12" id="status">
          <div class="card">
            <div class="card-header">Status</div>
            <div class="card-block">
              <div class="row" id="bat-voltage">
                <div class="col-md-3"><b>Voltage:</b></div>
                <div class="col-md-9">
                  <div class="progress">
                    <div
                      aria-valuemax="100"
                      aria-valuemin="0"
                      aria-valuenow="57"
                      class="progress-bar progress-bar-striped"
                      role="progressbar"
                      style="width: 57%"
                    >
                      <span>6.9V</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</app-sidebar>
