<app-sidebar>
    <div *ngIf="robotManager.error" class="alert alert-danger" role="alert">
        {{robotManager.error}}
    </div>
    <div class="row" id="home">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    Live Feed
                </div>
                <div class="card-block">
                    CAMERA HERE
                </div>
                <div class="card-footer text-muted">
                    <b>FPS: </b>30
                    <b>Resolution: </b> 600x300
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-6 col-sm-12">
                    <div class="card">
                        <div class="card-header">
                            Pinned Variables
                        </div>
                        <div class="card-block">
                            VARS HERE
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12">
                    <div class="card">
                        <div class="card-header">
                            Robot
                        </div>
                        <div class="card-block">
                            Robot here
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</app-sidebar>
