#home {
  width: 95%;
  padding-left: 1rem;
  padding-top: 1rem;

  #status{
    #bat-voltage{
      .progress{
        margin-top: 4px;

        span{
          color: black;
        }

      }
    }
  }
}
