$sidebar-width: 4.2rem;

body {
  background-color: #e2e2e2;
}

.sidebarHidden {
  #panel-content {
    padding-left: 0 !important;
  }

  #sidebar {
    left: 0 !important;
    width: 0 !important;
    margin-left: 0 !important;
  }
}

#panel {
  color: #363636;
  position: relative;
  min-height: 100%;

  #panel-content {
    padding-left: $sidebar-width;
    color: #fff;
  }

  #heading {
    height: 3rem;
    width: 100%;
    background-color: #101010;

    #heading-display {
      width: calc(100% - #{$sidebar-width});
      margin: 0 !important;
    }

    button {
      background-color: #1a1a1d;
      border-color: transparent;
      margin-top: 0.3rem;
      margin-left: 0.3rem;
      margin-right: 0.3rem;
      width: 2.4rem;
      height: 2.4rem;

      .switch-arrow {
        font-size: 2.7rem;
        vertical-align: middle !important;
        margin-top: -11px;
        margin-left: -19px;
      }
    }

    #page-title {
      color: #fff;
      margin: 0;
      font-size: 1.5rem;
      padding-left: 1rem;
      padding-top: 1rem;
    }

    color: #fff;

    #indicators {
      margin-top: 0.7rem;
      margin-right: 0.5rem;
      float: right;

      #timer {
        margin-right: 5rem;
      }

      #status {
        .dot {
          display: inline-block;
          vertical-align: middle;

          border-radius: 50%;
          background-color: #eee;
          height: 15px;
          width: 15px;
          margin: 0 0 2px;
        }

        .dot-running {
          background-color: #449d44;
        }

        .dot-stopped {
          background-color: #d9534f;
        }

        .dot-working {
          background-color: #f0ad4e;
        }
      }
    }

    h3 {
      margin-left: 1rem;
      margin-right: 1rem;
    }
  }

  #sidebar {
    z-index: 1000;
    position: absolute;
    left: $sidebar-width;
    width: $sidebar-width;
    height: 100%;
    margin-left: -$sidebar-width;
    overflow-y: auto;
    background: #101010;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.175) !important;

    .dropdown {
      margin-top: 0.3rem;
      margin-left: 0.3rem;
      margin-right: 0.3rem;

      select {
        color: #fff !important;
        background-color: #1a1a1d !important;
        border-color: #1a1a1d !important;

        option {
          color: #fff !important;
        }
      }
    }

    ul {
      margin-top: 17vh;
      margin-bottom: auto;
      display: flex;
      flex-direction: column;
      padding: 0;
      //margin-bottom: 0;
      list-style: none;

      li {
        text-indent: 20px;
        line-height: 40px;
        margin: 0 0 2rem 0;

        a {
          font-size: 1rem;
          text-decoration: none;
          color: #fff;
          height: 2.5rem;
          display: list-item;

          i {
            padding-right: 10px;
            vertical-align: middle !important;
            padding-bottom: 3px;
            margin-left: -20px;
          }
        }

        a:hover {
          color: #fff;
          text-decoration: none;
        }
      }

      .srv-mgt:hover {
        background-color: #1f1f1f;
      }

      .srv-mgt {
        margin-bottom: 2rem;
      }

      .selected {
        background-color: #1f1f1f;
      }

      .title {
        color: #fff;
        font-weight: bold;
      }

      .title-upper {
        padding-top: 2rem;
      }
    }
  }
}
