<div [class.sidebarHidden]="!sidebarDisplayed" class="" id="panel">
    <div id="sidebar">
        <div id="timer"></div>
        <ul class="sidebar-content">
            <li [class.selected]="currentUrl == '/'" class="srv-mgt">
                <a routerLink="/"><i class="material-icons">videogame_asset</i></a>
            </li>
            <li [class.selected]="currentUrl == '/panel/files'" class="srv-mgt">
                <a routerLink="/panel/files"><i class="material-icons">file_copy</i></a>
            </li>
            <li [class.selected]="currentUrl == '/settings'" class="srv-mgt">
                <a routerLink="/settings"><i class="material-icons">settings</i></a>
            </li>
        </ul>
    </div>
    <div id="panel-content">
        <div id="heading">
            <button (click)="toggleSidebar()" *ngIf="!sidebarDisplayed" class="btn btn-primary" type="button"><i
                    class="material-icons switch-arrow">arrow_right</i></button>
            <button (click)="toggleSidebar()" *ngIf="sidebarDisplayed" class="btn btn-primary" type="button"><i
                    class="material-icons switch-arrow">arrow_left</i></button>
            <div id="server">
        <span id="status"><span class="bold">Robot Status: </span>{{robotStatus}}  <span [ngClass]="{'INIT': 'dot-working', 'TELEOP': 'dot-running', 'AUTON': 'dot-running', 'DISABLED':'dot-stopped'}[robotStatus]"
                                                                                         class='dot'></span> </span>
            </div>
        </div>
        <ng-content></ng-content>
    </div>
</div>
